<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            border: 1px solid #add;
            padding:5px;
            width:225px;
            background: #efefef;
        }
        label{
            display: block;
            margin-top: 5px;               
        }
        input, textarea, select, option{
            min-width: 200px;
        }
    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label > Name : </label>
            <input type="text" name="name" ref="name" v-model="name">
            <label > Address : </label>
            <input type="text" name="address" ref="address" v-model="address">
            <label > Nomor HP : </label>
            <input type="text" name="no_hp" ref="no_hp" v-model="no_hp">
           
            <input type="submit" value="SUBMIT">
        </form>

        <br><br>
        <table border=1> 
            <tr v-for="member of members">
                <td>
                    <img width=100  :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="">
                </td>
                <td>
                    <b>Name : </b> {{ member.name }}<br>
                    <b>Address : </b> {{ member.address }}<br>
                    <b>No_hp : </b> {{ member.no_hp }} <br>
                </td>
                <td>
                    <button>Edit</button>
                    <button>Hapus</button>
                    <button>Upload Foto</button>

                </td>
            </tr>

        </table>
       
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {  
                name : '',
                address : '' ,
                no_hp : '',
                errors : [],
                members : [],
                photoDomain : 'http://demo-api-vue.sanbercloud.com/api/member'

            
            },
            methods: {
                validationForm :  function(){
                    this.errors = []

                    if(this.name.length < 5){
                        this.errors.push('name minimal 5 karakter')
                        this.$refs.name.focus()

                    
                    }if(this.address.length > 100){
                        this.errors.push('address tidak boleh lebih dari 100 karakter') 
                        this.$refs.address.focus()

                    }if(this.no_hp.length < 11){
                        this.errors.push('no_hp minimal 11 angka') 
                        this.$refs.no_hp.focus()
                    }

                },
                submitForm : function(){                   

                    this.validationForm()
                   if(this.errors.length  === 0){

                    let formData = new FormData()
                    formData.append('name' , this.name)
                    formData.append('address' , this.address)
                    formData.append('no_hp' , this.no_hp)





                    const config = {
                        method : "post",
                        url : "http://demo-api-vue.sanbercloud.com/api/member",
                        data : formData
                    }

                    axios(config) 
                        .then ( (response)  => {
                            console.log(response.data)

                           
                        })
                        .catch( (error) => {
                            
                        })                   

                       alert('Terima kasih, anda telah mengisi data dengan benar')
                   }
                

                },

                getMembers : function(){

                    const config = {
                        method : "get",
                        url : "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config) 
                        .then ( (response)  => {

                            this.members = response.data.members
                        })
                        .catch( (error) => {
                            console.log(error)
                        })                   
                }
            },
            created(){
                this.getMembers()
            }
        
        })        
    </script>
</body>
</html>