<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="todo-list-example">
        <form v-on:submit.prevent="addNewTodo">       
          <input
            v-model="newName"
            id="new-todo"          
          >
          <button>add</button>
        </form>
        <ul>
          <li
            is="todo-item"
            v-for="(todo, index) in users"
            v-bind:name="todo.name"
            v-on:edit="users.submit"
            v-on:remove="users.splice(index, 1)"
            
          ></li>
          
        </ul>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
         Vue.component('todo-item', {
    template: '\
    <li>\
      {{ name }}\
      <button v-on:click="$emit(\'edit\')">Edit</button>\
      <button v-on:click="$emit(\'remove\')">Delete</button>\
    </li>\
    ',
    
    props: ['name']
})
      
      new Vue({
        el: '#todo-list-example',
        data: {
          newName: '',
          users: [
            {
                name : 'Muhammad Iqbal Mubarok',
            },
            {
                name : 'Ruby Purwanti',
            },
            {
                name : 'Faqih Muhammad'
            }
          ],
          
        },
        methods: {
          addNewTodo: function () {
            this.users.push({             
              name: this.newName
            })
            this.newName = ''
          }
        }
      })
    

    </script>
   
</body>
</html>